---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

 -->

 <h2>Project 1: New Haven ESDA</h2>
<p>This project involves the Exploratory Data Analysis (ESDA) of New Haven. It is documented in a markdown file.</p>
<a href="{{ site.baseurl }}/_projects/New_Haven_ESDA.html" target="_blank">View Project 1 (HTML version)</a>

<h2>Project 2: Project 1 Markdown</h2>
<p>This is a brief overview of the first project. You can view the project details below:</p>
<pre>
  {{ site.baseurl }}/_projects/project1.md
</pre>
